<section class="hero has-text-centered " id="home">
    <div class="hero-body">
      <div class="container">
        <h2 align="centered" class="title"> Abstract </h2>
        <p style = "text-align:justify ; text-justify:inter-word">
            While text-conditional 3D object generation and manipulation have seen rapid progress, the evaluation of coherence between generated 3D shapes and input textual descriptions
            lacks a clear benchmark. The reason is twofold: a) the low quality of the textual descriptions in the only publicly available dataset of text-shape pairs; 
            b) the limited effectiveness of the metrics used to quantitatively assess such coherence. In this paper, we propose a comprehensive solution that addresses both weaknesses. 
            Firstly, we employ large language models to automatically refine textual descriptions associated with shapes. Secondly, we propose a quantitative metric to assess text-to-shape coherence,
            through cross-attention mechanisms. To validate our approach, we conduct a user study and compare quantitatively our metric with existing ones. 
            The refined dataset, the new metric and a set of text-shape pairs validated by the user study comprise a novel, fine-grained benchmark that we publicly release to foster research 
            on text-to-shape coherence of text-conditioned 3D generative models.
        </p>
    </div>
</div>
</section>